# Author: Anil Saravade
# Copyright: Copyright (©) 2020. SwapStyle. All rights reserved.

<!-- <!DOCTYPE html>
<html>
    <body>
        <style>
            .content {
                max-width: 800px;
                margin: auto;
                text-align: center;
            }
        </style>

            <div class="content">
                <h1>Hybrid multi-cluster service mesh</h1>
                {% if count %}
                <h2>{{ count }}</h2>
                {% endif %}
                <p>This is a simple session counter application which stores the session details of the user in the redis database and display the current session value to the user. The frontend is running flask server microservice which is hosted on Google Kubernetes Engine cluster and the backend redis microservice is hosted on Anthos Cluster on AWS.</p>
            </div>

    </body>
</html> -->

<!doctype html>
<title>Hello from Flask</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}
